<h1> Please add your HOT new single below!</h1>

<form action="/songs" method="post">
  <label for="song_genresname">Song Name:</label>
  <input id="song_name" name="song_name" type="text"/><br>
  <% Genre.all.each do |genre| %>
  <input id="<%= genre.name %>" type="checkbox"
  name="genres[]" value="<%= genre.id %>">
<% end %>
<label for="artist_name">Artist Name:</label>
<input id="artist_name" name="artist_name" type="text"/><br>
<input type="submit" value="submit">
</form>
